/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-ago-2017, 13:25:36
    Author     : Fernando Jiménez Iglesias
*/
/*
body{
    background: url('./resources/images/sky-62732_1920.jpg') fixed no-repeat; 
    background-size: cover; 
    -moz-background-size: cover;
    -webkit-background-size: cover; 
    -o-background-size: cover; 
    height: 100%;
    width:100%;
}
*/
/*Formulario*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form-login-page {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}
.box-login {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 6px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}
.box-login:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.form-login-page button:hover,.form-login-page button:active,.form-login-page button:focus {
    background: #43A047;
    -webkit-transition-duration: 0.45s !important;
    transition-duration: 0.45s !important;
}

.form-login-page .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form-login-page .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form-login-page .register-form {
    display: none;
}
.container-login {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container-login:before, .container-login:after {
    content: "";
    display: block;
    clear: both;
}
.container-login .info {
    margin: 50px auto;
    text-align: center;
}
.container-login .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container-login .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container-login .info span a {
    color: #000000;
    text-decoration: none;
}
.container-login .info span .fa {
    color: #EF3B3A;
}
.placeholder {
    color:#ccc;
}
/*Cierro Formulario*/

